@model BankingAppMVCWithUnitTestingV2.ViewModels.PersonAccountVM

@{
    ViewBag.Title = "GetAccounts";
}

<h2>GetAccounts</h2>

<p>
    @Html.ActionLink("Create New", "Create", "PeopleAccount", new { personID = Model.PersonID}, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Accounts.First().Person.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accounts.First().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accounts.First().Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Accounts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Accounts", new { id=item.ID }, null) |
            @Html.ActionLink("Details", "Details", "Accounts", new { id=item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", "Accounts", new { id=item.ID }, null)
        </td>
    </tr>
}

</table>
