@model BankingAppMVCWithUnitTestingV2.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Deposit", "Deposit", new { id = Model.ID }) |
    @Html.ActionLink("Withdraw", "Withdraw", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
