@model IEnumerable<BankingAppMVCWithUnitTestingV2.Models.Transaction>

@{
    ViewBag.Title = "ViewTransHistory";
}

<h2>ViewTransHistory</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    </tr>
}

</table>
